$yellow:#fbffa7;
$orange:#ff764d;
$green:#b6ffc0;
$blue:#0000ff;
$lightBlue:#b1c5ff;
$violet:#d5b3ff;

$font-size-small: 1.75rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-xlarge: 3rem;

$aboutHeaderImage: "https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2.0&fit=crop&fm=jpg&h=680&ixjsv=1.1.3&q=50&w=1067&quot";
$abletonSvgText: "../../assets/images/ableton.svg";
$home-photo1: "https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop";
$home-photo2: "https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop";
$home-photo3: "https://ableton-production.imgix.net/about/photo-3.jpg?fit=crop";
$home-photo4: "https://ableton-production.imgix.net/about/photo-4.jpg?fit=crop";
$home-photo5: "https://ableton-production.imgix.net/about/photo-5.jpg?fit=crop";
$home-photo6: "https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2.0&fit=crop&h=320&ixjsv=1.1.3&q=50&w=427";
$home-photo7: "https://ableton-production.imgix.net/about/photo-7.jpg?fit=crop";
$home-photo8: "https://ableton-production.imgix.net/about/photo-8.jpg?";
