@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.home {
  width: 100vw;
  position: relative;
  .page-about {
    .page-about__header {
      margin-left: 8.33333vw;
      margin-right: 8.33333vw;
      margin-bottom: 8.33333vw;
      min-height: calc(100vh - 120px);
      position: relative;
      @include image($aboutHeaderImage,68rem,auto);
      .ableton-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @include image($abletonSvgText, 104px,430px)
      }
    }
    .page-about__text {
      width: 66.66667vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8.33333vw;
      .body-text {
        h1 {
          font-size: $font-size-large;
          margin-bottom: 1.75rem;
          font-weight: bold;
        }
        p {
          font-size: $font-size-medium;
          line-height: 1.5;
        }
      }
      .address p:nth-child(2) {
        margin-bottom: 2rem;
      }
    }
    .page-about__collage {
      margin-bottom: 8.33333vw;
      padding-top: 8.33333vw;
      padding-bottom: 8.33333vw;
      position: relative;
      &__background {
        background-color: $yellow;
        width:58.33333vw;
        height: 58.33333vw;
        left: 41.66667vw;
        position:absolute;
        top:0;
        z-index:0;
      }
      .page-about__media {
        margin-left: 8.33333vw;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        @include image($home-photo1, 41.66667vw,41.66667vw);
        z-index: 1;
      }
      .page-about__media:last-child {
        margin-left:8.33333vw;
        @include image($home-photo2, 25vw, 33.33333vw);
      }
    }
    .page-about__collage-people {
      margin-bottom: 8.33333vw;
      padding: 8.33333vw;
      position: relative;
      display: flex;
      align-items: center;
      .page-about__collage__background {
        background-color: $green;
        width:58.33333vw;
        height: 75vw;
        left: 0;
        position:absolute;
        top:0;
        z-index:0;
      }
      .page-about__collage__container {
        width: 33.33333vw;
        position: relative;
        z-index: 1;
        .page-about__media {
          margin-left: 0;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          @include image($home-photo3, 25vw,33.33333vw);
          z-index: 1;
        }
        .page-about__media:last-child {
          background-image: url($home-photo4);
          margin-top: 8.33333vw;
          display: inline-block;
        }
      }
      .page-about__media {
        display:inline-block;
        margin-left:8.33333vw;
        @include image($home-photo5, 41.66667vw,41.66667vw);
        position:relative;
      }
    }
    .page-about__media-video {
      margin-bottom: 8.33333vw;
      .youtube {
        width: 66.66667vw;
        height: calc(66.66667vw / (16 / 9));
        margin-left: auto;
        margin-right: auto;
        .video {
          width: 100%;
          height: 100%;
          box-sizing: content-box ;
        }
      }
    }
    .page-about__media-large {
      margin-left: 8.33333vw;
      margin-right: 8.33333vw;
      margin-bottom: 8.33333vw;
      width: auto;
      img {
        height: auto;
        max-width: 100%;
        border: 0;
        object-fit: fill;
      }
    }
    .page-about__collage--improving {
      .bg-lavender {
        background-color: $violet;
      }
      .page-about__collage__background {
        width: 66.66667vw;
        height: 58.33333vw;
        left: 16.66667vw;
      }
      .page-about__collage__media {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 1;
      }
      .page-about__collage__media:nth-child(2) {
        margin-left: 8.33333vw;
        @include image($home-photo6,25vw,33.33333vw);
      }
      .page-about__collage__media:nth-child(3) {
        margin-left: 16.66667vw;
        @include image($home-photo7, 41.66667vw,41.66667vw);
      }
    }
    .page-about__jobs-teaser {
      &__media {
        margin: 0 8.33333vw;
        @include image($home-photo8,50vw,auto);
      }
      &__text {
        padding: 8.33333vw;
        margin: 0 8.33333vw;
        background-color: $lightBlue;
        &__wrapper {
          display: table;
          width: 100%;
          height: 100%;
          .body-text {
            display: table-cell;
            vertical-align: middle;
            margin: 0 auto;
            h1 {
              font-size: $font-size-large;
              line-height: 1.5;
              font-weight: bold;
              a {
                display: block;
                margin-top: 2.5rem;
              }
              .has-arrow::after {
                content: "\00a0›"
              }
            }
          }
        }
      }
    }
  }
}
