.home {
  width: 100vw;
  position: relative;
  .page-about {
    .page-about__header {
      margin-left: 8.33333vw;
      margin-right: 8.33333vw;
      margin-bottom: 8.33333vw;
      min-height: calc(100vh - 120px);
      position: relative;
      height: 68rem;
      background-image: url(https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2.0&fit=crop&fm=jpg&h=680&ixjsv=1.1.3&q=50&w=1067&quot);
      background-size: cover;
      background-position: 50% 50%;
      .ableton-image {
        height: 104px;
        width: 430px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url(../../assets/images/ableton.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .page-about__text {
      width: 66.66667vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8.33333vw;
      .body-text {
        h1 {
          font-size: 2.5rem;
          margin-bottom: 1.75rem;
          font-weight: bold;
        }
        p {
          font-size: 2rem;
          line-height: 1.5;
        }
      }
      .address p:nth-child(2) {
        margin-bottom: 2rem;
      }
    }
    .page-about__collage {
      margin-bottom: 8.33333vw;
      padding-top: 8.33333vw;
      padding-bottom: 8.33333vw;
      position: relative;
      &__background {
        background-color: #FBFFA7;
        width:58.33333vw;
        height: 58.33333vw;
        left: 41.66667vw;
        position:absolute;
        top:0;
        z-index:0;
      }
      .page-about__media {
        width: 41.66667vw;
        height:41.66667vw;
        margin-left: 8.33333vw;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .page-about__media:last-child {
        width: 33.33333vw;
        height: 25vw;
        margin-left:8.33333vw;
        background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .page-about__collage-people {
      margin-bottom: 8.33333vw;
      padding: 8.33333vw;
      position: relative;
      display: flex;
      align-items: center;
      .page-about__collage__background {
        background-color: #B6FFC0;
        width:58.33333vw;
        height: 75vw;
        left: 0;
        position:absolute;
        top:0;
        z-index:0;
      }
      .page-about__collage__container {
        width: 33.33333vw;
        position: relative;
        z-index: 1;
        .page-about__media {
          width: 33.33333vw;
          height: 25vw;
          margin-left: 0;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          background-image: url("https://ableton-production.imgix.net/about/photo-3.jpg?fit=crop");
          background-position: 50% 50%;
          background-size: cover;
          background-repeat: no-repeat;
          z-index: 1;
        }
        .page-about__media:last-child {
          background-image: url("https://ableton-production.imgix.net/about/photo-4.jpg?fit=crop");
          margin-top: 8.33333vw;
          display: inline-block;
        }
      }
      .page-about__media {
        display:inline-block;
        width: 41.66667vw;
        height: 41.66667vw;
        margin-left:8.33333vw;
        background-image: url("https://ableton-production.imgix.net/about/photo-5.jpg?fit=crop");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        position:relative;
      }
    }
    .page-about__media-video {
      margin-bottom: 8.33333vw;
      .youtube {
        width: 66.66667vw;
        height: calc(66.66667vw / (16 / 9));
        margin-left: auto;
        margin-right: auto;
        .video {
          width: 100%;
          height: 100%;
          box-sizing: content-box ;
        }
      }
    }
    .page-about__media-large {
      margin-left: 8.33333vw;
      margin-right: 8.33333vw;
      margin-bottom: 8.33333vw;
      width: auto;
      img {
        height: auto;
        max-width: 100%;
        border: 0;
        object-fit: fill;
      }
    }
    .page-about__collage--improving {
      .bg-lavender {
        background-color: #D5B3FF;
      }
      .page-about__collage__background {
        width: 66.66667vw;
        height: 58.33333vw;
        left: 16.66667vw;
      }
      .page-about__collage__media {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 1;
      }
      .page-about__collage__media:nth-child(2) {
        width: 33.333333vw;
        height: 25vw;
        margin-left: 8.33333vw;
        background-image: url("https://ableton-production.imgix.net/about/photo-6-a.jpg?dpr=2.0&fit=crop&h=320&ixjsv=1.1.3&q=50&w=427");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }
      .page-about__collage__media:nth-child(3) {
        width: 41.66667vw;
        height: 41.66667vw;
        margin-left: 16.66667vw;

        background-image: url("https://ableton-production.imgix.net/about/photo-7.jpg?fit=crop");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
      }
    }
  }
}
