.home {
  width: 100vw;
  position: relative;
  .page-about {
    .page-about__header {
      margin-left: 8.33333vw;
      margin-right: 8.33333vw;
      margin-bottom: 8.33333vw;
      min-height: calc(100vh - 120px);
      position: relative;
      height: 68rem;
      background-image: url(https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2.0&fit=crop&fm=jpg&h=680&ixjsv=1.1.3&q=50&w=1067&quot);
      background-size: cover;
      background-position: 50% 50%;
      .ableton-image {
        height: 104px;
        width: 430px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url(../../assets/images/ableton.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .page-about__text {
      width: 66.66667vw;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 8.33333vw;
      .body-text {
        h1 {
          font-size: 2.5rem;
          margin-bottom: 1.75rem;
          font-weight: bold;
        }
        p {
          font-size: 2rem;
          line-height: 1.5;
        }
      }
    }
    .page-about__collage {
      margin-bottom: 8.33333vw;
      padding-top: 8.33333vw;
      padding-bottom: 8.33333vw;
      position: relative;
      &__background {
        background-color: #FBFFA7;
        width:58.33333vw;
        height: 58.33333vw;
        left: 41.66667vw;
        position:absolute;
        top:0;
        z-index:0;
      }
      .page-about__media {
        width: 41.66667vw;
        height:41.66667vw;
        margin-left: 8.33333vw;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
      }
      .page-about__media:last-child {
        width: 33.33333vw;
        height: 25vw;
        margin-left:8.33333vw;
        background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop");
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
    .youtube {
      width: 66.66667vw;
      height: calc(66.66667vw / (16 / 9));
      margin-left: auto;
      margin-right: auto;
      .video {
        width: 100%;
        height: 100%;
        box-sizing: content-box ;
      }
    }
  }
}
