@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.header {
  width: 100%;
  padding: 2.5rem 1.5rem 0 0;
  position: relative;
  &--wrapper {
    height: 100%;
    width: 100%;
    .header__nav {
      display: flex;
      border: none;
      height: 4.9rem;
      .header__logo {
        margin: 0 3.2rem 2rem 2rem;
        display: inline-block;
        @include image("../../assets/images/menu-mobile.svg",2.8rem,6rem,contain);
        z-index: 10;
        cursor: pointer;
      }
      .header--trigger-label {
        height: 3rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        z-index: 10;
        &::after {
          display: inline-block;
          content: "";
          border-width: 5px;
          border-style: solid;
          border-color: transparent;
          border-top-color:#000;
          transform: scaleX(0.8);
          margin: 0 0 -0.3rem 0.8rem;
        }
      }
      .header__primary-wrapper {
        position: absolute;
        min-height: 100vh;
        width: 100vw;
        left: 0;
        top:0;
        padding: 8.75rem 1.875rem 0 1.875rem;
        background-color: $blue;
        z-index: 5;
      }
      .header__nav-links-desktop {
        position: absolute;
        font-size: 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        padding: 0 2.5rem 0 12.5rem;
        font-weight: 500;
        .header__link-desktop {
          display: inline-block;
          padding:0 1.25rem;
          cursor: pointer;
        }
        .header__link-desktop:first-child {
          padding: 0 1.25rem 0 0;
        }
        .header__link-desktop:nth-child(8) {
          color:$orange;
        }
        .header__link-desktop:nth-child(9) {
          padding: 0 0 0 1.25rem;
          margin-right: 0;
          margin-left: auto;
          font-size: 1.75rem;
          color: $blue;
        }
        .header__link-desktop:nth-child(10) {
          font-size: 1.75rem;
          margin-right: 0;
          margin-left: 0.3125rem;
          padding-right: 0;
        }
        .header__buttonMore {
          font-size: 2rem;
          cursor: pointer;
          .header__iconPlus {
              height:1.5rem;
              width: 1.5rem;
              display: inline-block;
              margin-left: 0.3125rem;
              position: relative;
              top:0.0625rem;
            .header__iconPlus-expanded::before {
              height:0.25rem;
              width: 1.5rem;
              content: "";
              display: block;
              background-color: currentColor;
              position: absolute;
              top: 50%;
              left:50%;
              transform: translate(-50%,-50%);
            }
            .header__iconPlus-expanded::after {
              height: 1.5rem;
              width: 0.25rem;
              content: "";
              display: block;
              background-color: currentColor;
              position: absolute;
              top: 50%;
              left:50%;
              transform: translate(-50%,-50%);
            }
            .header__iconPlus-collapse::before {
              height:0.25rem;
              width: 1.5rem;
              content: "";
              display: block;
              background-color: currentColor;
              position: absolute;
              top: 50%;
              left:50%;
              transform: translate(-50%,-50%);
            }
          }
        }
      }
    }
    .header__nav-more {
      width: 100%;
      padding: 1.25rem 2.5rem 3.75rem;
      &-on {
        h3 {
          font-size: 3rem;
          padding-bottom: 0.25rem;
          line-height: 1.5;
          font-weight: 500;
        }
        ul {
          display: flex;
          font-size: 2rem;
          li {
            cursor: pointer;
          }
          li:first-child {
            padding-right: 1.25rem;
          }
          li:last-child {
            padding-left: 1.25rem;
          }
          li:not(:first-child):not(:last-child) {
            padding: 0 1.25rem;
          }
        }
      }
      &-from {
        padding-top: 3.125rem;
        width: 100%;
        h3 {
          font-size: 3rem;
          padding-bottom: 0.25rem;
          font-weight: 500;
        }
        .header__menuMoreFrom-wraper {
          width: 100%;
                position: relative;
                .header__slideable {
                  font-size: 2rem;
                  padding: 0 0 2.5rem;
                  .header__menuMoreFrom-row {
                    display: flex;
                    margin-left: -2.5rem;
                    margin-right: -2.5rem;
                    .header__menuMoreFrom-item {
                      padding: 0 2.5rem;
                      min-width: 26rem;
                      cursor: pointer;
                      a div h4 {
                        font-weight: 500;
                      }
                      a div p {
                        line-height: 1.5;
                      }
                    }
                  }
                }
        }
      }
    }
    .header__nav-separator {
      height: 0;
      width: 100%;
      display: block;
      border-top: 2px solid #eee;
    }
    .header__nav-secondary {
      height: 7.5rem;
      ul {
        display: flex;
        height: 100%;
        padding: 2.125rem 2.5rem 1.875rem;
        li {
          display: inline-block;
          font-size: 1.75rem;
          height: fit-content;
          font-weight: 500;
          cursor: pointer;
          &:nth-child(1) {
            padding-right: 1.25rem;
          }
          &:nth-child(2) {
            padding:0 1.25rem;
          }
          &:nth-child(3) {
            padding-left: 1.25rem;
          }
        }
      }
    }
  }
}
.off-screen {
  transform: translateY(-100%);
  transition: transform 0.2s;
}

@media (max-width: 1279px) {
  .is-expanded {
      color:white;
      transform: translateY(0);
      .header__nav {
        .header__logo {
          filter: invert(100%);
        }
        .header--trigger-label {
          font-size: 2.5rem;
          &::after {
            content: "";
            margin: 0 0 0.2rem 1rem;
            border-width: 5px;
            border-color: transparent;
            border-bottom-color:white;
          }
        }
        .header__primary-wrapper {
          .header__nav-links {
            font-size: 2.5rem;
            padding-right: 2.5rem;
            .header__link {
              display: block;
              padding-right: 1.25rem;
              margin-bottom: 2.5rem;
            }
            .header__link:nth-child(10) {
              padding: 0;
              margin-bottom: 1.75rem;
              font-size: 1.75rem;
            }
          }
          .header__menuMore-wrapper {
            .header__menuMoreOn {
              padding-top: 1.25rem;
              &__title {
                font-size: 2.5rem;
                padding-bottom: 1.25rem;
              }
              &__link-container {
                font-weight: bold;
                display: inline-block;
                line-height: 1.5;
                .header__menuMoreOn__link {
                  padding-right: 1.25rem;
                  margin-bottom: 1.75rem;
                  font-size: 1.75rem;
                  cursor: pointer;
                }
              }
            }
            .header__menuMoreFrom {
              width: 100%;
              padding-top: 1.25rem;
              &__title {
                padding-bottom: 1.25rem;
                font-size: 2.5rem;
                font-weight: bold;
              }
              &-wraper {
                width: 100%;
                position: relative;
                .header__slideable {
                  font-size: 1.75rem;
                  overflow-x: auto;
                  padding: 0 0 2.5rem;
                  .header__menuMoreFrom-row {
                    display: flex;
                    margin-left: -1.25rem;
                    margin-right: -1.25rem;
                    .header__menuMoreFrom-item {
                      padding: 0 1.25rem;
                      min-width: 26rem;
                      cursor: pointer;
                      a div p {
                        line-height: 1.5;
                      }
                    }
                  }
                }
                &::after {
                  content: "";
                  display: block;
                  position: absolute;
                  top: 0;
                  right: -0.1rem;
                  bottom: 2.5rem;
                  width: 5rem;
                  background-image: linear-gradient(90deg,rgba(0,0,255,0),blue);
                }
              }
            }
          }
        }
    }
  }
}


