@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.main-footer {
  font-size: $font-size-medium;
  font-weight: normal;
  &__separator {
    padding-top:8.33333vw;
    position: relative;
    background-color: #fff;
  }
  &__separator::after {
    content:"";
    display: block;
    height: 0;
    border-top:2px solid #efefef;
    position: absolute;
    left: 0;
    right: 0;
  }
  &__container {
    padding: 0 8.33333vw;
    .main-footer__content {
      padding-top: 8.33333vw;
      .main-footer__row::after {
        clear: both;
        content: "";
        display: table;
      }
      .main-footer__col {
        float:left;
        padding-right:1.25rem;
        padding-bottom: 4.16667vw;
        img {
          height: auto;
          max-width: 100%;
          border: 0;
        }
        .main-footer__basics__logo {
          width:18.8rem
        }
        .main-footer__h3 {
          margin: 0;
          font-size: $font-size-medium;
          font-weight: bold;
        }
        .abl-block {
          display: block;
        }
        .main-footer__newsletter__form {
          margin-top: 2rem;
          .main-footer__form__group {
            display: flex;
            .main-footer__form__field {
              flex:1;
              input {
                width: 100%;
                padding: 0.8rem 1.5rem;
                background: transparent;
                background-color: #eee;
                border: 0;
                user-select: none;
                font-weight: normal;
                border-radius: 0;
              }
            }
            .main-footer__button {
              display: inline-block;
              padding: 0.7rem 3rem;
              font-weight: bold;
              color:#fff;
              background: blue;
              border: 0;
              border-radius: 0;
              cursor: pointer;
            }
          }
        }
        .main-footer__language-selector {
          margin-top: 1.3125rem;
          font-size: 1.7rem;
          font-weight: 600;
          .main-footer__secondary__select {
            margin-right: 0.2rem;
            max-width: 20rem;
            .form__element__field {
              display: inline-block;
              width: auto;
              max-width: none;
              form {
                display: block;
                .abl-visually-hidden {
                  position: absolute;
                  width: 0.1rem;
                  height: 0.1rem;
                  margin: -0.1rem;
                  overflow: hidden;
                  border: 0;
                }
              }
            }
            .main-footer__icon-arrow-small {
              position:relative;
            }
            .main-footer__icon-arrow-small::after {
              content:'';
              position: absolute;
              top: 0;
              right: 0;
              background-color: transparent;
              @include image("../../assets/images/arrowdown.svg",100%,3rem,40%);
              pointer-events: none;
            }
            select {
              appearance: none;
              display: inline-block;
              width: 100%;
              background-color: #eee;
              border: 0;
              user-select: none;
              height: 3.7rem;
              padding: 0.6125rem 5rem 0.6125rem 1.3125rem;
              cursor: pointer;
            }
          }
          .has-auto-width {
            display: inline-block;
          }
        }
        .main-footer__secondary__link-list {
          width: auto;
          margin-top: 2rem;
          display: inline-block;
          vertical-align: middle;
          .main-footer__secondary__link-list__item {
            display: inline-block;
            margin-right: 1.75rem;
            font-weight: 600;
            font-size: $font-size-small;
            color: inherit;
            line-height: 1.5;
          }
        }
        .main-footer__secondary__signature {
          float: right;
          width: auto;
          margin-left: 6rem;
          margin-top:2rem;
          text-align:left;
          .main-footer__secondary__signature__logo {
            float: right;
            vertical-align: middle;
            height: auto;
            max-width: 100%;
            border: 0;
          }
          img {
            height: auto;
            max-width: 100%;
            border: 0;
          }
          .main-footer__secondary__signature__label {
            vertical-align: middle;
            font-size: $font-size-small;
            margin-right: 1.75rem;
            margin-left: 0;
            line-height: 1.5;
            font-weight: 600;
            float: right;
          }
        }
      }
      .main-footer__list {
        cursor: pointer;
        .main-footer__has-arrow::after {
          content:"\00a0›";
        }
      }
      .main-footer__social {
        .main-footer__social-listitem {
          display: inline-block;
          .main-footer__social-button {
            margin-top: 1.25rem;
            width: 5rem;
            height: 5rem;
            display: inline-block;
            vertical-align: top;
            font-size: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 1.25rem;
            cursor: pointer;
          }
          .main-footer__social-button--facebook {
            background-image: url("../../assets//images/facebook.svg");
            background-color: #3477F2;
          }
          .main-footer__social-button--twitter {
            background-image: url("../../assets//images/twitter.svg");
            background-color: #1DA1F2;
          }
          .main-footer__social-button--youtube {
            background-image: url("../../assets//images/youtube.svg");
            background-color: #FF001D;
          }
          .main-footer__social-button--instagram {
            background-image: url("../../assets//images/instagram.svg");
            background-color: #F77737;
          }
        }
      }
      .main-footer__col--full{
        width: 100%;
      }
      .main-footer__col--md {
        width: 40%;
      }
      .main-footer__col--start {
        float:right;
      }
      .main-footer__pr-0 {
        padding-right: 0;
      }
      .main-footer__col-sm {
        width: 30%;
      }
      .main-footer__pb-1u {
        padding-bottom: 8.333333vw;
      }
    }
  }
}